.window {
	width: 100vw;
	height: 100vw;
	position: fixed;
	top: 0;
	left: 0;
}

.header-container {
	padding-bottom: 20rpx;
}

.header {
	height: 100%;
	text-align: center;
	font-size: 35rpx;
	font-weight: 600;
}

.main {
	height: 100%;
	background: #ffffff;
}

.iconback {
	margin-top: 1rpx;
	position: absolute;
	left: 20rpx;
	pointer-events: auto;
}
.list{
	background: #ffffff;
}

