@font-face {
  font-family: "iconfont"; /* Project id 4328086 */
  src: url('iconfont.ttf?t=1700049869580') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-empty:before {
  content: "\e89f";
}

.icon-bag:before {
  content: "\e877";
}

.icon-cart:before {
  content: "\e73d";
}

.icon-home:before {
  content: "\e751";
}

.icon-user:before {
  content: "\e601";
}

.icon-cup:before {
  content: "\e610";
}

